/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 16 Jun 2024, 7:45:32 am
    Author     : saifu
*/

.success-message {
    width: 90%;
    margin: 40px auto; /* add some margin and center the form */
    padding: 20px; /* add some padding around the form */
    background-color: #f9f9f9; /* add a light gray background */
    border: 1px solid #ddd; /* add a light gray border */
    border-radius: 10px; /* add a subtle rounded corner */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* add a subtle shadow */
}
h3, p, .countdown {
    text-align: center;
}
.countdown {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.countdown span {
    font-weight: bold;
    color: #ff5722;
}